<script>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    fetch('/commits/')
      .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('datetime', 'Time');
        var authorsSet = new Set(data.results.map(item => item.author));
        var authors = Array.from(authorsSet);
        authors.forEach(author => {
          dataTable.addColumn('number', author);
        });

        // Initialise un objet pour stocker les données des commits
        var commitsData = {};

        // Traite chaque commit pour regrouper par minute et par auteur
        data.results.forEach(commit => {
          let commitTime = new Date(commit.date);
          let timeKey = commitTime.toLocaleTimeString();

          // Assurez-vous que le commit est dans l'intervalle de temps désiré
          if (commitTime.getHours() >= 14 && commitTime.getHours() <= 18) {
            if (!commitsData[timeKey]) {
              commitsData[timeKey] = {};
              authors.forEach(author => {
                commitsData[timeKey][author] = 0; // Initialise le compteur de commit pour chaque auteur
              });
            }
            commitsData[timeKey][commit.author]++;
          }
        });

        // Convertit l'objet commitsData en tableau pour Google Charts
        var rows = [];
        for (let [time, counts] of Object.entries(commitsData)) {
          let timeParts = time.split(':');
          let row = [new Date(2024, 1, 12, parseInt(timeParts[0]), parseInt(timeParts[1]))];
          authors.forEach(author => {
            row.push(counts[author] || 0);
          });
          rows.push(row);
        }

        // Trie les lignes par l'heure du commit
        rows.sort((a, b) => a[0] - b[0]);

        dataTable.addRows(rows);

        var options = {
          title: 'Commits par Minute par Auteur de 14h à 18h le 12 février',
          curveType: 'function',
          legend: { position: 'bottom' },
          colors: ['#e2431e', '#6f9654', '#1c91c0', '#f1ca3a', '#4374e0'],
          hAxis: {
            title: 'Temps',
            format: 'HH:mm',
          },
          vAxis: {
            title: 'Nombre de Commits',
          },
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);
      })
      .catch(error => {
        console.error('Fetch error:', error);
      });
  }
</script>
