<html>
  <head>
    <meta charset="UTF-8" />
    <title>Commits Metrics</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Date');
        dataTable.addColumn('number', 'Nombre de Commits');

        fetch('/commits/')
          .then(response => response.json())
          .then(data => {
            let commitCounts = {}; // Clé : dateString, Valeur : nombre de commits
            data.results.forEach(entry => {
              var date = new Date(entry.date);
              var dateString = `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}`;
              
              if (commitCounts[dateString]) {
                commitCounts[dateString] += 1;
              } else {
                commitCounts[dateString] = 1;
              }
            });

            for (let [dateString, count] of Object.entries(commitCounts)) {
              dataTable.addRow([dateString, count]);
            }

            var options = {
              title: 'Nombre de Commits par Minute',
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(dataTable, options);
          });
      }
    </script>
  </head>
  <body>
    <div id="chart_div"></div>
  </body>
</html>
